@import '../../assets/styles/variable.styl';
.el-table{
    background-color transparent!important
}
.el-textarea__inner,
.el-input__inner{
    background-color $color-bodyBackground!important
}
.el-cascader-panel{
    padding 10px 0
}
.el-cascader-menu{
    max-height 260px
}