// Reboot
// --------------------------------------------------

html {
    box-sizing: border-box;
    font-size: 14px;
    -webkit-overflow-scrolling: touch;
}

* {
    box-sizing: inherit;

    &:before,
    &:after {
        box-sizing: inherit;
    }

    margin: 0px;
    padding: 0px;
}

input,
button,
select,
textarea {
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
    border: 0
}

body {
    background-color: #fff;
    color: #333;
    font-family: "PingFang SC",
    "Hiragino Sans GB",
    "Microsoft YaHei",
    "微软雅黑",
    "Helvetica Neue",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.8;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
}

a {
    text-decoration: none;
}
em{
    font-style: normal
}

img {
    max-width: 100%;
}

iframe {
    max-width: 100%;
}

input,
textarea {
    font-family: inherit;
}

textarea {
    resize: vertical;
}

ul,
li {
    list-style: none;
}
::-webkit-scrollbar
{
    width: 4px;  /*滚动条宽度*/
    height: 4px;  /*滚动条高度*/
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    border-radius: 10px;  /*滚动条的背景区域的圆角*/
    background-color: transparent;/*滚动条的背景颜色*/
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 10px;  /*滚动条的圆角*/
    background-color: #ccc;  /*滚动条的背景颜色*/
}
input[type=number]{
    -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
